
; RESOURCE SCRIPT FOR 'SFTSHFON.FON' - 'SFTSHELL' SMALL FONTS FOR SFTSHELL

#include "sftshfon.ver"

  1 FONT SFTSHEL5.FNT
  2 FONT SFTSHEL6.FNT
  3 FONT SFTSHEL7.FNT
  4 FONT SFTSHEL8.FNT
  5 FONT SFTSHL12.FNT
  6 FONT SFTSHL18.FNT
